aws {
    region = 'ap-southeast-1'
    client {
        maxConnections = 10
        connectionTimeout = 10000
        storageEncryption = 'AES256'
        
    }
}

// process {
//    executor = 'awsbatch'
//    queue = 'arn:aws:batch:us-east-1:<account>:job-queue/<queue-name>'
//    errorStrategy = 'terminate'
//    aws.batch.cliPath = '/usr/local/bin/aws'
//    container = 'sentieon/sentieon-aws:201911-3'
// }


docker {
        enabled = true
        container = 'nfcore/sentieon'
        // docker.runOptions='-u $(id -u):$(id -g)'
       temp = 'auto'   
     envWhitelist = "SENTIEON_LICENSE"
}


params {
   input = "nextflow_input.csv"   

 ref = "s3://flowcelltest/None/sentieon-genomics-directory/reference/hg38.fa"
    ref_fai = "s3://flowcelltest/None/sentieon-genomics-directory/reference/hg38.fa.fai"
    ref_amb = "s3://flowcelltest/None/sentieon-genomics-directory/reference/hg38.fa.amb"
    ref_ann = "s3://flowcelltest/None/sentieon-genomics-directory/reference/hg38.fa.ann"
    ref_bwt = "s3://flowcelltest/None/sentieon-genomics-directory/reference/hg38.fa.bwt"
    ref_pac = "s3://flowcelltest/None/sentieon-genomics-directory/reference/hg38.fa.pac"
    ref_sa = "s3://flowcelltest/None/sentieon-genomics-directory/reference/hg38.fa.sa"
    ref_dict = "s3://flowcelltest/None/sentieon-genomics-directory/reference/reference.dict"
    fastqr1 = "s3://flowcelltest/None/sentieon-genomics-directory/sentieon-splitfastq-files/10591_1.part_001.fq.gz"
    fastqr2 = "s3://flowcelltest/None/sentieon-genomics-directory/sentieon-splitfastq-files/10591_2.part_001.fq.gz"
    sample_id = "10591_s3_9"   
    SENTIEON_INSTALL_DIR = "/home/ubuntu/sentieon/sentieon-genomics-202112.01"
    ref_mills = "s3://flowcelltest/None/sentieon-genomics-directory/reference/Mills_and_1000G_gold_standard.indels.hg38.vcf"
    ref_mills_tbi = "s3://flowcelltest/None/sentieon-genomics-directory/reference/Mills_and_1000G_gold_standard.indels.hg38.vcf.gz.tbi"   
    ref_mill_idx = "s3://flowcelltest/None/sentieon-genomics-directory/reference/Mills_and_1000G_gold_standard.indels.hg38.vcf.idx"
    ref_dbsnp = "s3://flowcelltest/None/sentieon-genomics-directory/reference/common_all_20180418.vcf"
    ref_dbsnp_idx = "s3://flowcelltest/None/sentieon-genomics-directory/reference/common_all_20180418.vcf.idx"
//    wes_bedfile = "/home/ubuntu/sentieon/sentieon-genomics-202112.01/output"
    threads = 16
    chunk_size = 10000
    output_dir  = "s3://flowcelltest/None/sentieon-genomics-directory/sentieon-splitfastq-files/output/"
    outpath = "s3://flowcelltest/None/sentieon-genomics-directory/sentieon-splitfastq-files/output/"
    script_dir = "/tmp"
    code_ver = "2022.06.01"
    aws_region = "ap-southeast-1"
    wes = false
}

params.outdir='/home/ec2-user/nextflow/outputs/'

